<!DOCTYPE html>
<html>
  <head>
    <title>API列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .APIContainer{
          margin-bottom: 5px;
          margin-top: 15px;
          font-size: 15px;
          margin-left: 28px;
          border-left: solid 5px rgba(0,128,0,0.3);
          padding-left: 5px;
          border-bottom: solid 1px rgb(240,240,240);
          border-top: solid 1px rgb(240,240,240);
        }
        .section-container{
          margin-left: 5px;
        }

        .key{
          font-size: 16px;
        }      
        .value{
          margin-bottom: 10px;
          padding-left: 20px;
        } 
        .title{
          font-size: 17px;
          margin-bottom: 15px;
          margin-top: 10px;
        }
    </style>    
  </head>
  <body>
  <div style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; margin-left: 5px; border-bottom: solid 2px rgba(128,128,128, 0.2); padding-bottom: 12px; border-top: solid 10px rgba(230,230,230,0.2); padding-top: 10px; padding-left: 10px;">API列表</div>

  <div class="section-container">

    <div class="section-title" style="padding-left: 10px;font-size: 21px;"></div>
      <div class = "APIContainer" >
          <div class="title">1.HTTP方式添加消息</div>
          <div class="key">链接</div>
          <div class="value">/newcmd</div>
          <div class="key">参数</div>
          <div class="value">
            {"name":"newProductionOrder","para":"","duration":500000}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             name:消息名称(消息辨别的标识);para:表示消息的内部参数，需要发送消息和使用消息的双方自行协议参数内容;duration:消息保留时间，当没有该参数时，将使用系统默认值
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.HTTP方式获取消息</div>
          <div class="key">链接</div>
          <div class="value">/getcmds</div>
          <div class="key">参数</div>
          <div class="value">
            [{"name":"newProductionOrder","para":"","duration":500000}]
          </div>
          <div class="key">返回</div>
          <div class="value">
               
          </div>
          <div class="key">说明</div>
          <div class="value">
             name:消息名称(消息辨别的标识);para:表示消息的内部参数，需要发送消息和使用消息的双方自行协议参数内容
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.webSocket方式添加消息</div>
          <div class="key">链接</div>
          <div class="value">无</div>
          <div class="key">参数</div>
          <div class="value">
            {"name":"newProductionOrder","msgType":"push","para":"","duration":500000}
          </div>
          <div class="key">返回</div>
          <div class="value">
               无
          </div>
          <div class="key">说明</div>
          <div class="value">
             name:消息名称(消息辨别的标识);msgType:消息类型，分为push、pull和reg三类，其中push表示添加消息，pull表示获取消息，reg表示关注某个名称的消息;para:表示消息的内部参数，需要发送消息和使用消息的双方自行协议参数内容
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">4.webSocket方式订阅特定名称消息</div>
          <div class="key">链接</div>
          <div class="value">/addOrder</div>
          <div class="key">参数</div>
          <div class="value">
            {"name":"newProductionOrder","msgType":"reg","para":""}
          </div>
          <div class="key">返回</div>
          <div class="value">
               无
          </div>
          <div class="key">说明</div>
          <div class="value">
             name:消息名称(消息辨别的标识);msgType:消息类型，分为push、pull和reg三类，其中push表示添加消息，pull表示获取消息，reg表示关注某个名称的消息;para:表示消息的内部参数，需要发送消息和使用消息的双方自行协议参数内容
          </div>
      </div>

  </div>

  </body>
</html>