<!DOCTYPE html>
<meta charset="utf-8" />
<title>消息管理中间件</title>
<script language="javascript" type="text/javascript">
	var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length);
    var output;
    var websocket = null;
    function init() {
        output = document.getElementById("output");
        createWebSocket();
        setInterval(createWebSocket, 5000);
        // writeToScreen("数据转发中间件", 'white');
        // writeToScreen("数据转发中间件", 'rgb(128,128,128)');
        // writeToScreen("CONNECTED", 'green');
        // writeToScreen("DISCONNECTED", 'red');
        // setInterval(function(){
        //     writeToScreen("数据转发中间件", 'rgb(128,128,128)');
        // }, 1000);
    }
    function createWebSocket() {
        if(websocket == null){
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                writeToScreen("开始运行", 'green');
                var obj = {msgType: 'showdata'};
                websocket.send(JSON.stringify(obj));
            };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
        }
    }

    function onClose(evt) {
        writeToScreen("已经停止", 'green');
        websocket = null;
    }
    function onMessage(evt) {
        writeToScreen(evt.data, 'rgb(128,128,128)');
    }
    function onError(evt) {
        writeToScreen("出现异常", 'red');
        websocket = null;
    }
    function writeToScreen(message, color) {
        message = ('<span style="color: '+ color +';">'+ message +'</span> ');
        var pre = document.createElement("p");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        if(output.childNodes.length >= 30){
            for(i = output.childNodes.length -1; i >=0; i--){
                output.removeChild(output.childNodes[i]);
            }
        }
        if(output.childNodes.length <= 0){
            output.appendChild(pre);
        }else{
            output.insertBefore(pre, output.childNodes[0]);
        }

    }
    window.addEventListener("load", init, false);
</script>
<body style = "background-color: black;padding-left: 20px;">
    <div id="output"></div>
</body>
<!-- <h2>数据转发中间件</h2> -->
</html>
  
  